$black-custom: #222222;
$honey-glow:#EAB543;
$honey-glow-shadow:#fbcd68;
$falling-star: #CAD3C8;
.client-body{
    min-height: 100vh;
    background-color: #ffffff;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .product-item{
        position: relative;
        width: 350px;
        margin: 2rem 2rem;
        .client-hover-product-item{
            position: absolute;
            // position: relative;
            bottom: 0;
            width: 100%;
            height: 72px;
            a{
                // display: block;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.459);
                padding: 20px;
                border: 1px solid $honey-glow-shadow;
                display: none;
                color: $honey-glow-shadow;
                font-weight: 500;
                font-size: 20px;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.719);
                    color: $black-custom;
                    text-decoration: none;
                }
            }
        }
        &:hover .client-hover-product-item{
            a{
                display: block;
                transition: display 1s;
                
            }
            height: 35.3%;
            transition: height .4s;
        }
    }
    
}
.center{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.card{
    display: flex;
    flex-wrap: wrap;
    .card-title{
        margin-left: .5rem;
    }
    .card-body{
        width: 100%;
        // border: 1px solid white;
       
    }
    .card-img-top{
        height: 350px;
        width: 100%;
    }
    
    &:hover{
        transition:box-shadow .2s;
        box-shadow: 0 0 5px wheat,
                    0 0 10px wheat;
    }
    
}